.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
/*/build/
local.properties
gradle.properties
*.iml
promise/promise.iml
.idea/
proguard/
*.log
*.ipr
*.iws
Thumbs.db

# OSX files